/******************************************
************** Header Component CSS **************
******************************************/

.ekart--header {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-wrap: wrap;
  border-bottom: #e5e4e2 1.5px solid;
}

.ekart--logo {
  padding: 1.2vh 8vh;
  font-size: 40px;
  font-weight: bold;
  color: #36454f;
  font-family: 'Concert One', cursive;
  width: 20%;
}

.ekart--header--nav {
  width: 80%;
  padding: 1vh 2vh;
  font-size: 12px;
}




.ekart--bottom--bar {
  display: flex;
}

/* .ekart--search--bar {
  padding: 0 8vh;
}

.ekart--search--box {
  width: 170px;
  height: 33px;
  border: none;
  background-color: #efefef;
  padding: 2px 10px;
} */



