.ekart--product--container{
   margin:20px auto;
   padding: 0px 17vh;
}
.ekart-featured-products{
  background-color: #28282B;
  display: flex;
  padding:20px 10px;
}
.ekart-featured-product-heading{
  width:320px;
  padding:14px;
  margin:10px;
  color:#fff;
}
.title, .call-to-action{
  margin:10px 0px;
}
.call-to-action{
  background-color: #28282B;
  color:#fff;
  width:100%;
  padding:10px 0px;
}
