@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0px;
    padding:opx;
    box-sizing: border-box;
}

body{
 font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  padding: 0 10px;
  color:#28282B;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
